<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'Java'"
        [percent]="70"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'30'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'SQL'"
        [percent]="70"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'30'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'HTML'"
        [percent]="75"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'30'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'CSS'"
        [percent]="60"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'30'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'Angular'"
        [percent]="50"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'30'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'Communication'"
        [percent]="100"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'25'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'Good Attitude'"
        [percent]="100"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'25'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
    <div class="text-center col-4">
        <circle-progress
        [subtitle]="'Teamwork'"
        [percent]="95"
        [maxPercent]="100"
        [toFixed]="0"
        [showTitle]="true"
        [showUnits]="true"
        [showSubtitle]="true"
        [showBackground]="false"
        [showInnerStroke]="true"
        [clockwise]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"

        [radius]="100"
        [backgroundPadding]="5"

        [backgroundGradient]="false"
        [backgroundOpacity]="1"
        [backgroundColor]="'transparent'"
        [backgroundGradientStopColor]="'transparent'"
        [backgroundStroke]="'transparent'"
        [outerStrokeGradient]="true"
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [titleColor]="'#444444'"
        [unitsColor]="'#444444'"
        [subtitleColor]="'#A9A9A9'"

        [outerStrokeWidth]="10"
        [space]="-10"
        [innerStrokeWidth]="10"
        [backgroundStrokeWidth]="0"
        [outerStrokeLinecap]="'round'"

        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"

        [titleFontSize]="'20'"
        [unitsFontSize]="'10'"
        [subtitleFontSize]="'30'"
        [titleFontWeight]="'normal'"
        [unitsFontWeight]="'normal'"
        [subtitleFontWeight]="'normal'"

        [showImage]="false"
        [imageHeight]="0"
        [imageWidth]="0"

        [animation]="true"
        [animateTitle]="false"
        [lazy]="true"
        [animationDuration]="1000"
    ></circle-progress>
    </div>
</div>