<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/Perfil.jpg" class="img-fluid">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col align-self-center">
        <span>
            <h1 id="sobremi">Sobre Mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quod quaerat atque beatae unde dolorem nesciunt perferendis, magni mollitia aspernatur quia nobis accusamus fugiat, nihil harum! Quos aliquid voluptates similique?</p>
        </span>
    </div>
</div>