#ArgPro{
    width: 150px;
}
a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    transition: .5s;
    padding: 15px;
    margin-right: 1.5em
}
a:hover{
    color: gold;
}
a i{
    font-size: 21px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes button{
    margin-right: 2em;
}