<div class="row">
    <h1>Educacion</h1>
    <div class="col-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>estudio 1 </h1>
                <h3>"years"</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo magnam incidunt vel et, amet necessitatibus? Ipsa culpa qui beatae, reiciendis fugiat delectus. Iure, exercitationem. Ut ducimus pariatur atque eaque. Sit.</p>
            </li>
            <li>
                <h1>Estudio 2 </h1>
                <h3>"years"</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo magnam incidunt vel et, amet necessitatibus? Ipsa culpa qui beatae, reiciendis fugiat delectus. Iure, exercitationem. Ut ducimus pariatur atque eaque. Sit.</p>
            </li>
            <li>
                <h1>Estudio 3 </h1>
                <h3>"years"</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo magnam incidunt vel et, amet necessitatibus? Ipsa culpa qui beatae, reiciendis fugiat delectus. Iure, exercitationem. Ut ducimus pariatur atque eaque. Sit.</p>
            </li>
        </ul>
    </div>
</div>
